.navbar {
    width: 100%;
    height: 100px;
    background-color: #fdfdfd;
    display: flex;
    flex-direction: row;
}

.navbar .left {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 150px;
}

.navbar .right {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar a {
    color: rgb(7, 7, 7);
    text-decoration: none;
    margin: 20px;
}

.navbar .right button {
    background-color: #fdfdfd;
    color: rgb(7, 7, 7);
    cursor: pointer;
    margin: 20px;
    width: 100px;
    height: 40px;
}


.navbar .right svg {
    font-size: 40px;
}

.user {
    width: 30px;
    height: 30px;
    background-color: orange;
    border-radius: 50%;
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
    display: inline-block;
    line-height: 30px;
    text-align: center;

}

.cart-container {
    background-color: white;
    width: 300px;
    height: 100%;
    box-shadow: 2px 2pxz 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    transition: left 0.5s ease;
    right: -400px;
    z-index: 1000;
    padding: 10px;
}

.cart-container.active {
    right: 0;

}

.cartitems {
    list-style: none;
    padding: 0px;
}

.cartitem {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid black;
}

.cartitem img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 15px;
}

.cartdetails {
    /* display: flex; */
    /* flex-direction: column; */
    flex-grow: 1;

}

.name {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;


}

.price {
    font-size: 16px;
    color: black;
}

/* .menuItem {
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 8px;
    margin: 8px;
    text-align: center;
}

.menuItem img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 8px;
} */

.quantityControls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantityControls button {
    background-color: orange;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 8px;
    margin: 0px 8px;

}

.quantityControls span {
    font-size: 16px;
    margin: 0px 5px;

}

.trash {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 14px;
    margin: 0px 8px
}

.close {
    background-color: orangered;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.total {
    font-size: 16px;
    margin-top: 20px;
    font-weight: bold;
    text-align: right;
}

.cart-length {
    background-color: orangered;
    color: white;
    border-radius: 50%;
    padding: 10px;
    font-size: 12px;
}